* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
/*Inicia botonera movil*/

nav#botoneraMovil {
  position: absolute;
  width: 90%;
  height: auto;
  background: white;
  top: 50px;
  left: -100%;
  transition: left 1s;
}
nav#botoneraMovil ul li {
  width: 100%;
  line-height: 40px;
  text-align: center;
  border: 1px solid white;
  background: #ccc;
}

nav#botoneraMovil ul li:hover {
  width: 100%;
  line-height: 40px;
  text-align: center;
  border: 1px solid white;
  background: #aaa;
}
label#labelMovil span {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/boton1.jpg) no-repeat;
  margin: 5px;
  cursor: pointer;
}
input#botonMovil {
  display: none;
}
label#labelMovil h2 {
  position: absolute;
  top: 10px;
  left: 60px;
}
label#labelMovil span:hover {
  background: url(../img/boton2.jpg) no-repeat;
}
input#botonMovil:checked + label#labelMovil span {
  background: url(../img/boton3.jpg) no-repeat;
}
/* en este ultimo estamos diciendo que al chequear el box pasamos un cambio al elemento subyacente */
input#botonMovil:checked ~ nav#botoneraMovil {
  left: 0%;
}
/* llama a la caja siguiente a la caja donde sucedio el evento */
